<div layout="row" flex layout-padding layout-fill layout-align="center center" md-theme="whiteAccentTheme">
    <div flex="30" flex-lg="35" flex-md="70" flex-sm="100">
        <md-card style="border: 3px solid #fff;border-radius: 10px;background: rgba(0,0,0,0.6);">
            <md-toolbar>
                <div layout-padding>
                    <!-- <div layout-align="center center" layout="row">Login</div> -->
                    <img src="assets/images/logo.png">
                    <!-- <h1 class="md-headline" translate>LOGIN</h1> -->

                </div>
            </md-toolbar>
            <md-content class="md-padding" style="background: rgba(0,0,0,0.6);">
                <form name="login" ng-submit="vm.loginClick()" autocomplete="off">
                    <md-input-container class="md-block">
                        <label for="email" translate style="color: white">Username</label>
                        <input id="email" style="border-bottom: 1px solid #fff;color: white" label="email" name="email" type="text" ng-model="vm.user.name" required autocomplete="off"/>
                        <div ng-messages="login.email.$error">
                            <div ng-message when="required"><span>Please enter your Username.</span></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block md-accent">
                        <label for="password" translate style="color: white">Password</label>
                        <input id="password" label="password" style="border-bottom: 1px solid #fff;color: white"  name="password" type="password" ng-model="vm.user.password" required/>
                        <div ng-messages for="login.password.$error">
                            <div ng-message when="required"><span>Please enter a valid password.</span></div>
                        </div>
                    </md-input-container>
                    <div layout="row" layout-align="space-between center">
                    <md-button type="submit" style="background: #000; color: #d7294f" id="submit" value="Submit" class="md-raised md-primary"   translate="LOGIN" aria-label="login">Login</md-button>
                        <md-input-container>
                            <md-button style="background: #000; color: #d7294f" flex class="md-primary" href="#!/forgot" aria-label="forgot">Forgot Password ?</md-button>
                        </md-input-container>
                    </div>
                      <!-- <input type="submit" id="submit" value="Submit" ng-disabled="login.$invalid"/> -->
                    <md-button class="md-primary full-width" style="background: #000; color: #d7294f"  href="#!/signup" translate="LOGIN.SIGNUP_LINK" aria-label="{{'LOGIN.SIGNUP_LINK' | translate}}"></md-button>
                </form>
        </md-card>
    </div>
</div>
