  <md-content flex style="padding-top: 15px">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Chat">
        <md-content class="md-padding">
			Chat          
        </md-content>
      </md-tab>
      <md-tab label="User Online">
        <md-content class="md-padding">
          User Online			
        </md-content>
      </md-tab>
      <md-tab label="WaitList">
        <md-content class="md-padding">
          WaitList
        </md-content>
      </md-tab>
    <md-tab label="Private Msg">
        <md-content class="md-padding">
          Private Msg
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
