<md-content flex style="padding-top: 15px">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Chat">
            <md-content class="md-padding">
                Chat
            </md-content>
        </md-tab>
        <md-tab label="User Online">
            <md-content class="md-padding">
                User Online
            </md-content>
        </md-tab>
        <md-tab label="WaitList{{vm.waitlistCount}}">
            <md-content class="md-padding">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="item in vm.waitList.data">
                        <img ng-src="{{item.videoplaylists_id.thumbnail}}?{{$index}}" class="md-avatar" alt="{{item.title}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ item.videoplaylists_id.title }}</h3>
                            <h4>{{ item.videoplaylists_id.created_at }}
                            <md-button class="md-icon-button md-warn" aria-label="remove waitList"
                            ng-show="item.videoplaylists_id.user_id == vm.userId" ng-click="vm.removeFromWaitList(item._id,tem.videoplaylists_id._id)">
                             <md-tooltip md-direction="bottom">Remove waitlist</md-tooltip>
                                <i class="fa fa-trash" aria-hidden="true"></i>  
                            </md-button>
                            </h4>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
        <md-tab label="Private Msg">
            <md-content class="md-padding">
                Private Msg
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
