<md-content flex style="padding-top: 15px">
    <md-tabs md-dynamic-height>
        <md-tab label="Chat">
            <md-content md-padding>
                <div ng-style="vm.ChatStyle" schroll-bottom="vm.userChat.data">
                    <!-- <div ng-repeat="chat in vm.userChat.data">
                    <div class="md-whiteframe-1dp">
                        <span class="md-subhead">{{chat.user_id.username}}</span>&nbsp;&nbsp;
                        <span class="md-body-1">{{chat.msg}}</span>
                    </div>
                    </div> -->
                    <ol class="chat" >
                    <div ng-repeat="chat in vm.userChat.data">
                        <li class="other" ng-if="vm.userId != chat.user_id._id">
                            <div class="msg">
                                <p class="md-body-2">{{chat.user_id.username}}</p>
                                <p>{{chat.msg}}
                                <md-button class="md-icon-button md-warn" aria-label="remove message"
                            ng-show="true" ng-click="vm.deleteChatMessage(chat._id)" ng-if="vm.status == 1 || vm.status == 2">
                             <md-tooltip md-direction="bottom">Remove waitlist</md-tooltip>
                                <i class="fa fa-trash" aria-hidden="true"></i>  
                            </md-button>
                            </p>
                            </div>
                        </li>
                        <li class="self" ng-if="vm.userId == chat.user_id._id">
                           <!--  <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div> -->
                            <div class="msg">
                                <p>You</p>
                                <p>{{chat.msg}}
                                <md-button class="md-icon-button md-warn" aria-label="remove message"
                            ng-show="true" ng-click="vm.deleteChatMessage(chat._id)">
                             <md-tooltip md-direction="bottom">Remove waitlist</md-tooltip>
                                <i class="fa fa-trash" aria-hidden="true"></i>  
                            </md-button></p>
                            </div>
                        </li>
                        </div>
                    </ol>
                </div>
                <div flex>
                <form name="chatForm" ng-submit="vm.postChat()" flex>
                    <div layout="row" flex>
                        <md-input-container flex>
                        <label>Message</label>
                            <input ng-model="vm.data.message" placeholder="Enter here message">
                        </md-input-container>
                        <md-button class="md-fab md-primary md-mini" ng-click="vm.postChat()"> <i class="fa fa-send" aria-hidden="true"></i> </md-button>
                    </div>
                </form>
                </div>
                <!-- <div layout="column" layout-align="space-between">
                    <div>
                    {{vm.userChat}} 
                    </div>
                    <div flex>
                    <form name="chatForm" ng-submit="vm.postChat()">
                        <md-input-container>
                            
                            <input ng-model="vm.data.message" >
                        </md-input-container>
                        <md-button ng-click="vm.postChat()">submit</md-button>         
                        </form>
                    </div>

                </div> -->
            </md-content>
        </md-tab>
        <md-tab label="User Online">
            <md-content class="md-padding">
                User Online
            </md-content>
        </md-tab>
        <md-tab label="WaitList ({{vm.waitlistCount}})">
            <md-content class="md-padding">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="item in vm.waitList.data">
                        <img ng-src="{{item.videoplaylists_id.thumbnail}}?{{$index}}" class="md-avatar" alt="{{item.title}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ item.videoplaylists_id.title }}</h3>
                            <h4>{{ item.videoplaylists_id.created_at }}
                            <md-button class="md-icon-button md-warn" aria-label="remove waitList"
                            ng-show="item.videoplaylists_id.user_id == vm.userId" ng-click="vm.removeFromWaitList(item._id,item.videoplaylists_id._id)">
                             <md-tooltip md-direction="bottom">Remove waitlist</md-tooltip>
                                <i class="fa fa-trash" aria-hidden="true"></i>  
                            </md-button>
                            </h4>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
        <md-tab label="Private Msg">
            <md-content class="md-padding">
                Private Msg
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
