<md-dialog flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex>
                <span style="text-transform: capitalize;"  >
                    Add WaitList
                </span>
            </h2>
            <md-button class="md-icon-button" ng-click="vm.cancelClick()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close">
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-dialog-content class="md-dialog-content">
        <md-list flex>
            <md-subheader class="md-no-sticky">Play List</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in vm.playList" ng-click="vm.playUserVideo(item)">
                <img ng-src="{{item.thumbnail}}?{{$index}}" class="md-avatar" alt="{{item.title}}" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.title }}</h3>
                    <h4>{{ item.created_at }}
                      <md-button class="md-icon-button md-primary" aria-label="add waitList" ng-click="vm.addToWaitList(item._id)">
                             <md-tooltip md-direction="bottom">add waitlist</md-tooltip>
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </md-button>
                    </h4>
                    <!-- <md-button class="md-grid-item-content" ng-click="vm.addToWaitList(item._id)">
            Wait List
        </md-button> -->
                    <!--  <p>{{ item.notes }}</p> -->
                </div>
            </md-list-item>
        </md-list>
        <!-- <set-loading status="vm.setLoading"> -->
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-primary md-raised" ng-click="vm.okClick()" aria-label="cancel">
            ok
        </md-button>
        <md-button class="md-primary md-raised" ng-click="vm.cancelClick()" aria-label="cancel">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>
