<div layout="row" flex>
    <div flex="30">
        <!--  <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <div>
                    <md-button aria-label="create playlist" ng-click="vm.createPlaylist()">Create
                    </md-button>
                </div>
            </div>
        </md-toolbar> -->
        <div style="border-bottom: 3px solid #cf274e;" layout="row" flex>
            <div flex="80">
                <input style="height: 100%;width: 80%;background: none;padding: 11px;border: none;color: #FFFFFF;outline: 0;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;" type="text" placeholder="Create a new playlist" maxlength="256">
                <!--  <md-input-container flex>
            <input type="text" ng-model="vm.data.name">
        </md-input-container> -->
            </div>
            <!-- <md-input-container class="md-block" flex>
                <input type="text" ng-model="vm.data.name" placeholder="Create a new playlist">
            </md-input-container> -->
            <div style="float: right;background-color: #c4254a;width: 121px;height: 40px;padding-top: 5px;cursor: pointer;" flex="20">
                <i class="mdi mdi-24px mdi-playlist-plus" style="padding: 16px; color: #FFFFFF;"></i>
            </div>
        </div>
        <div>
            <!-- <md-content>
                <md-list flex>
                    <md-list-item class="md-2-line" ng-repeat="item in vm.playlist" ng-click="vm.getVideoListByName(item,$index)" ng-class="{selectedIndex: vm.selectedIndex===$index}">
                        <div class="md-list-item-text" layout="row" layout-align="space-between">
                            <h3>
                            <i class="fa fa-check" aria-hidden="true" ng-if="item.isactive"></i>
                            {{ item.name }}</h3>
                            <h4>{{ item.total_video }}</h4>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content> -->
            <div style="height: 18px;
    padding: 15px; cursor: pointer; color: #FFFFFF" ng-repeat="item in vm.playlist" ng-click="vm.getVideoListByName(item,$index)" layout="row" layout-align="space-between center">
                <div style="float: left;font-size: 15px;font-weight: 700;">{{ item.name }}</div>
                <div style="float: right;font-size: 12px;color: #7b7b7b;padding-top: 3px;">{{ item.total_video }}</div>
            </div>
        </div>
    </div>
    <div flex>
        <!--  <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <div layout="row">
                    <span class="md-title">{{vm.activeListDetail.name}}</span>
                </div>
                <div>
                    <md-button aria-label="Active" ng-click="vm.activePlaylist()" ng-if="!vm.activeListDetail.isactive">Active Playlist
                    </md-button>
                </div>
            </div>
        </md-toolbar> -->
        <md-content>
            <!--  <md-list flex> -->
            <div layout="row">
                <form name="searchForm" flex>
                    <div layout-gt-sm="row">
                        <md-autocomplete flex md-input-name="autocompleteField" md-no-cache="true" md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.snippet.title" md-floating-label="Search YouTube" md-menu-class="autocomplete-custom-template">
                            <md-item-template>
                                <div layout="row">
                                    <img ng-src="{{item.snippet.thumbnails.default.url}}?{{$index}}" class="md-avatar" alt="{{item.snippet.title}}" style="height: 40px;width: 40px;border-radius: 40px;" />&nbsp;
                                    <span md-highlight-text="vm.searchText">{{item.snippet.title}}</span>
                                </div>
                            </md-item-template>
                            <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                                <div ng-message="required">You <b>must</b> have a favorite state.</div>
                                <div ng-message="minlength">Your entry is not long enough.</div>
                                <div ng-message="maxlength">Your entry is too long.</div>
                            </div>
                        </md-autocomplete>
                    </div>
                </form>
                <div style="margin-top: 9px;">
                    <md-button class="md-primary" aria-label="Active" ng-click="vm.saveSearchVideo()">Add To Playlist
                    </md-button>
                </div>
            </div>
            <div layout-align="center center" layout="row" ng-if="vm.activated">
                <md-progress-circular ng-disabled="!vm.activated" class="md-hue-2" md-diameter="20px"></md-progress-circular>
            </div>
            <!-- <md-divider style="background-color: #c4254a;border-top-width: 3px;"></md-divider> -->
            <md-divider style="border-bottom: 3px solid #fb294f"></md-divider>
            <!--  <div layout=""> -->
            <div class="currentPlaylistInfoBox" layout="row" layout-align="space-between center" style="background: #111111;">
                <div style="padding: 8px;float: left;font-size: 19px;font-weight: 700;color: #FFFFFF">Nightcore #1</div>
                <div class="actions" layout="row">
                    <div style="float: left;width: auto;height: 34px;padding-top: 4px;cursor: pointer;padding-right: 20px;">
                        <label for="setAsActiveCheckbox" style="cursor: pointer;"><span style="color: #FFFFFF">Set as active</span></label>
                        <input style="position: relative;top: 4px;" type="checkbox">
                        <!-- <span style="color: #FFFFFF">Set as active</span>
                            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                            </md-checkbox> -->
                    </div>
                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                        <i class="mdi mdi-24px mdi-shuffle"></i>
                    </div>
                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                        <i class="mdi mdi-24px mdi-pencil"></i>
                    </div>
                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                        <i class="mdi mdi-24px mdi-delete"></i>
                    </div>
                </div>
            </div>
            <!-- <md-divider style="border-bottom: 3px solid #cf274e"></md-divider> -->
            <md-divider style="background-color: #fb294f;border-top-width: 3px;"></md-divider>
            <div>
                <div ui-tree="treeOptions" id="tree-root" class="table table-responsive" ng-if="vm.videoList.length > 0">
                    <!--  <div ui-tree-nodes ng-model="vm.videoList">
                            <md-list-item class="md-3-line" ng-repeat="item in vm.videoList" ui-tree-node>
                                <img ng-src="{{item.thumbnail}}?{{$index}}" class="md-avatar" alt="{{item.title}}" />
                                <div class="md-list-item-text" layout="column" ui-tree-handle>
                                    <h3>{{ item.title }}</h3>
                                    <h4>{{ item.created_at }}
                    </h4>
                                </div>
                        </div>
                        </md-list-item> -->
                    <div ui-tree-nodes ng-model="vm.videoList">
                        <div ng-repeat="item in vm.videoList" ui-tree-node>
                            <div style="height: 75px;clear: both; background: #111111;" layout="row" layout-align="space-between center" ui-tree-handle>
                                <!-- <div class="thumbnail">
                                                <img src="file:///E:/Users/robin/Documenten/Design/Delevery%201/MusicPlayerHTML/img/won-playlist-thumbnail.png">
                                            </div> -->
                                <!--   <img ng-src="{{item.thumbnail}}?{{$index}}" class="md-avatar" alt="{{item.title}}" /> -->
                                <div style="float: left;padding: 15px;">
                                    <div style="color: #FFFFFF;">{{ item.title }}</div>
                                    <div style="font-size: 14px;color: #7b7b7b;">{{ item.created_at }}</div>
                                </div>
                                <div layout="row">
                                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                                        <i class="mdi mdi-24px mdi-plus-box-outline"></i>
                                    </div>
                                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                                        <i class="mdi mdi-24px mdi-pencil"></i>
                                    </div>
                                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                                        <i class="mdi mdi-24px mdi-delete"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </md-list> -->
        </md-content>
        <div flex ng-cloak style="position: fixed; right: 25px; bottom: 25px; z-index: 999;">
            <md-fab-speed-dial md-direction="up" md-open="false" class="md-fab-bottom-right md-scale">
                <md-fab-trigger>
                    <md-button aria-label="action" class="md-fab md-primary" ng-click="vm.backToWaitList()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <md-tooltip>Back</md-tooltip>
                    </md-button>
                </md-fab-trigger>
            </md-fab-speed-dial>
        </div>
    </div>
</div>