<div layout-align="center center" layout="row" ng-if="vm.activated">
    <md-progress-circular ng-disabled="!vm.activated" class="md-hue-2" md-diameter="20px"></md-progress-circular>
</div>
<div ng-if="!vm.activated" style="padding-top: 65px;">
    <div ng-if="!vm.response" layout="row" layout-align="center center">
        <img style="width: 68%;"  src="../assets/images/no-video.gif" />
    </div>
    <div flex layout="row" layout-align="center center" ng-if="vm.response">
        <youtube-video video-url="vm.response.videoplaylists_id.url" player-vars="vm.playerVars"></youtube-video >
    </div>
    <div flex-offset="15" layout="row">
        <div>
            <md-button class="md-raised md-primary" ng-click="vm.addToWaitList(item._id)" ng-if="!vm.waitlistStatus">
                Join Wait List
            </md-button>
            <md-button class="md-raised md-primary" ng-click="vm.removeFromWaitList(item._id)" ng-if="vm.waitlistStatus">
                Stop Playing
            </md-button>
        </div>
        <div flex-offset="50" ng-if="vm.response">
            <md-button class="md-icon-button" aria-label="like" ng-click="vm.upvote(vm.response.videoplaylists_id._id)">
                <span>{{vm.upvoteCount.length}}</span>
                <md-tooltip md-direction="bottom">Like</md-tooltip>
                <i class="fa fa-thumbs-up" aria-hidden="true" ng-style="vm.upvoteColor"></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Unlike" ng-click="vm.downvote(vm.response.videoplaylists_id._id)">
                <span>{{vm.downvoteCount.length}}</span>
                <md-tooltip md-direction="bottom">UnLike</md-tooltip>
                <i class="fa fa-thumbs-down" aria-hidden="true" ng-style="vm.downvoteColor"></i>
            </md-button>
        </div>
    </div>
</div>