<style type="text/css">
md-autocomplete input:not(.md-input) {
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    background: #1f1f1f;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
}

md-autocomplete md-autocomplete-wrap {
    background-color: #c4254a;
}

 #social-links {
    padding-top: 20px;
}

 #social-links a {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: #FFF;
    border-radius: 5px;
    margin-right: 15px;
}
#social-links #discord-button {
    background-color: #7289DA;
    text-decoration: none;
}

 #social-links #discord-button:hover {
    background-color: rgba(114, 137, 218, 0.8);
}

#social-links #youtube-button {
    background-color: #E62117;
    text-decoration: none;
}

#social-links #youtube-button:hover {
    background-color: rgba(230, 33, 23, 0.8);
}

#social-links #facebook-button {
    background-color: #3B5998;
    text-decoration: none;
}

#social-links #facebook-button:hover {
    background-color: rgba(59, 89, 152, 0.8)
}

#social-links #soundcloud-button {
    background-color: #FF6801;
    text-decoration: none;
}

#social-links #soundcloud-button:hover {
    background-color: rgba(255, 104, 1, 0.8);
}

#social-links .social-button {
    position: relative;
    top: -2px;
    padding-left: 5px;
}

.playlistlinks {
    cursor: pointer;
}

.list1:hover {
    background-color: rgba(215, 41, 79, 0.6);
}
</style>
<!-- <div layout-align="center center" layout="row" ng-if="vm.activated" >
    <md-progress-circular ng-disabled="!vm.activated" class="md-hue-2" md-diameter="20px"></md-progress-circular>
</div> -->
<div style="padding-top: 65px;" id="activ_video">
    <div ng-if="!vm.response" layout="row" layout-align="center center">
        <img style="width: 68%;" src="assets/images/no-video.gif" />
    </div>
    <div flex layout="row" layout-align="center center" ng-if="vm.response">
        <youtube-video video-url="vm.response.videoplaylists_id.url" player-vars="vm.playerVars" onstatechange="vm.playerStateChanged"></youtube-video>
    </div>
   <!--  <div flex-offset="15" layout="row">
        <div>
            <md-button class="md-raised md-primary" ng-click="vm.addToWaitList(item._id)" ng-if="!vm.waitlistStatus">
                Join Wait List
            </md-button>
            <md-button class="md-raised md-primary" ng-click="vm.removeFromWaitList(item._id)" ng-if="vm.waitlistStatus">
                Stop Playing
            </md-button>
        </div>
        <div flex-offset="50" ng-if="vm.response">
            <md-button class="md-icon-button" aria-label="like" ng-click="vm.upvote(vm.response.videoplaylists_id._id)">
                <span>{{vm.upvoteCount.length}}</span>
                <md-tooltip md-direction="bottom">Like</md-tooltip>
                <i class="fa fa-thumbs-up" aria-hidden="true" ng-style="vm.upvoteColor"></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Unlike" ng-click="vm.downvote(vm.response.videoplaylists_id._id)">
                <span>{{vm.downvoteCount.length}}</span>
                <md-tooltip md-direction="bottom">UnLike</md-tooltip>
                <i class="fa fa-thumbs-down" aria-hidden="true" ng-style="vm.downvoteColor"></i>
            </md-button>
        </div>
    </div> -->
</div>
<!-- show history list -->
<div ng-if="vm.screenType == 'history'" style="position: fixed;top: 63px;background-color: rgba(27, 27, 27, 0.6)" flex ng-style="vm.historyStyle">
    <div ng-repeat="item in vm.historyResponse" flex>
        <div class="md-padding" ng-class-odd="'odd'" ng-class-even="'even'" layout="row" layout-align="space-between center" flex>
            <div class="details" flex="80">
                <div style="color: #FFFFFF;">{{$index+1}}. {{ item.videoplaylists_id.title }}</div>
                <div style="font-size: 14px;color: #7b7b7b;margin-top: 8px;">{{item.created_at | date :'d MMM yy, hh:mm:ss' }}
                    <font style="margin-left:15px;color:rgb(215,41,79);">Played By: </font>
                    <!-- {{item.videoplaylists_id.user_id}} -->Ruby Chan</div>
            </div>
            <div class="votes" layout="row" flex layout-align="center center">
                <div class="upvotes" style=" color: #90AD2F;" flex layout="row" layout-align="center center">
                    <div><i class="mdi mdi-24px mdi-thumb-up-outline"></i></div>&nbsp;
                    <div><span class="number-votes"><span ng-if="item.upvote.split(',').length!=0">{{item.upvote.split(',').length - 1}}</span><span ng-if="item.upvote.split(',').length==0">0</span></span>
                    </div>
                </div>
                <div class="grabs" style="  color: #A771FB;" flex layout="row" layout-align="center center">
                    <div><i class="mdi mdi-24px mdi-star-outline"></i></div>&nbsp;
                    <div><span class="number-votes"><span ng-if="item.grab.split(',').length!=0">{{item.grab.split(',').length - 1}}</span><span ng-if="item.grab.split(',').length==0">0</span></span></div>
                </div>
                <div class="downvotes" style=" color: #C42E3B;" flex layout="row" layout-align="center center">
                    <div><i class="mdi mdi-24px mdi-thumb-down-outline"></i></div>&nbsp;
                    <div><span class="number-votes">
                        <span ng-if="item.downvote.split(',').length!=0">{{item.downvote.split(',').length - 1}}</span><span ng-if="item.downvote.split(',').length==0">0</span></span>
                    </div>
                </div>
                <div class="add-to-playlist" style="cursor: pointer;color: #FFFFFF;" flex layout-align="center center" layout="column">
                    <div><i class="mdi mdi-24px mdi-plus-box-outline"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- show create playlist video -->
<div layout="row" flex ng-if="vm.screenType == 'createdPlayList'" style="position: fixed;top: 63px;opacity: 0.95;background: #1f1f1f;border-bottom: 3px solid #111111" ng-style="vm.playlistStyle">
    <div flex="30" style="border-right: 3px solid #d7294f;">
        <div style="border-bottom: 3px solid #cf274e; background-color: #1f1f1f;" layout="row" flex>
            <div flex="80">
                <input style="height: 100%;width: 80%;background: none;padding: 11px;border: none;color: #FFFFFF;outline: 0;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;font-size: 12px" type="text" placeholder="Create new playlist" maxlength="256" ng-model="vm.createPlaylistData.name" >
            </div>
            <div style="float: right;background-color: #c4254a;width: 121px;height: 40px;padding-top: 5px;cursor: pointer;" flex="20" ng-click="vm.createPlayList()">
                <i class="mdi mdi-24px mdi-playlist-plus" style="padding: 16px; color: #FFFFFF;"></i>
            </div>
        </div>
        <div style="background-color: #1f1f1f; overflow-y: auto;" ng-style="vm.createPlaylistSidebarStyle" id="playlists">
            <div style="height: 18px;
                padding: 15px; cursor: pointer; color: #FFFFFF;outline: 0;" ng-repeat="item in vm.playlist" ng-click="vm.getVideoListByName(item,$index)" layout="row" layout-align="space-between center" class="List playlistlinks active list1" ng-class-odd="'odd'" ng-class-even="'even'">
                <div style="float: left;font-size: 15px;font-weight: 700;">{{ item.name }}</div>
                <div style="float: right;font-size: 12px;color: #7b7b7b;padding-top: 3px;">{{ item.total_video }}</div>
            </div>
        </div>
    </div>
    <div flex style="background-color: #1f1f1f;opacity: 0.95;">
            <!--  <md-list flex> -->
            <div layout="row" flex id="youtubePanel">
                <form name="searchForm" flex>
                    <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="true" md-selected-item="vm.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="vm.searchText" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.snippet.title" md-min-length="0" placeholder="Search YouTube" style="opacity: 0.95;font-size: 12px;background: #1f1f1f">
                        <md-item-template>
                            <div layout="row" style="background-color: #1f1f1f;">
                                <img ng-src="{{item.snippet.thumbnails.default.url}}?{{$index}}" class="md-avatar" alt="{{item.snippet.title}}" style="height: 40px;width: 40px;border-radius: 40px;" />&nbsp;
                                <span md-highlight-text="vm.searchText" style="color: white">{{item.snippet.title}}</span>
                            </div>
                        </md-item-template>
                    </md-autocomplete>
                </form>
                <div class="playlistlinks" style="float: right;
                background-color: #c4254a;
                width: 47px;
                height: 34px;
                padding-top: 7px;
                cursor: pointer;" ng-click="vm.saveSearchVideo()">
                    <i class="mdi mdi-24px mdi-plus" style="padding: 12px;"></i>
                </div>
            </div>
            <div layout-align="center center" layout="row" ng-if="activated">
                <md-progress-circular ng-disabled="!activated" class="md-primary" md-diameter="20px"></md-progress-circular>
            </div>
            <md-divider style="border-bottom: 3px solid #fb294f"></md-divider>
            <!--  <div layout=""> -->
            <div class="currentPlaylistInfoBox" layout="row" layout-align="space-between center" style="background: #111111;" id="currentPlaylistInfoBox">
                <div style="padding: 8px;float: left;font-size: 19px;font-weight: 700;color: #FFFFFF">{{vm.activeListDetail.name | limitTo: 30}}<span ng-if="vm.activeListDetail.name.length>30">...</span></div>
                <div class="actions" layout="row">
                    <div style="float: left;width: auto;height: 34px;padding-top: 4px;cursor: pointer;padding-right: 20px;">
                        <label for="setAsActiveCheckbox" style="cursor: pointer;"><span style="color: #FFFFFF">Set as active</span></label>
                        <input style="position: relative;top: 4px;" type="checkbox" ng-click="vm.activePlaylist()" ng-if="vm.activeListDetail.isactive" checked>
                        <input style="position: relative;top: 4px;" type="checkbox" ng-click="vm.activePlaylist()" ng-if="!vm.activeListDetail.isactive">
                        <!--  <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
            <span style="color: #FFFFFF">Checkbox 1</span>  -->
                        </md-checkbox>
                    </div>
                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                        <i class="mdi mdi-24px mdi-shuffle"></i>
                    </div>
                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                        <i class="mdi mdi-24px mdi-pencil"></i>
                    </div>
                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                        <i class="mdi mdi-24px mdi-delete"></i>
                    </div>
                </div>
            </div>
            <md-divider style="background-color: #fb294f;border-top-width: 3px;"></md-divider>
            <!-- <div style="overflow-y: auto; max-height: 422px"> -->
            <div style="max-height: 422px">
                <div ui-tree="treeOptions" id="tree-root" class="table-responsive" ng-if="vm.videoList.length > 0">
                    <div ui-tree-nodes ng-model="vm.videoList">
                        <div ng-repeat="item in vm.videoList" ui-tree-node ng-class-odd="'odd'" ng-class-even="'even'">
                            <div style="height: 75px;clear: both; font-weight:normal;" layout="row" layout-align="space-between center" ui-tree-handle>
                                <div style="float: left;padding: 15px;">
                                    <div style="color: #FFFFFF;">{{ item.title }}</div>
                                    <div style="font-size: 14px;color: #7b7b7b;">{{ item.duration | songTime }}</div>
                                </div>
                                <div layout="row">
                                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                                        <i class="mdi mdi-24px mdi-plus-box-outline"></i>
                                    </div>
                                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                                        <i class="mdi mdi-24px mdi-pencil"></i>
                                    </div>
                                    <div style="float: left;width: 47px;height: 34px;padding-top: 7px;cursor: pointer; color: #FFFFFF">
                                        <i class="mdi mdi-24px mdi-delete"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </md-list> -->
        <!-- <div flex ng-cloak style="position: fixed; right: 25px; bottom: 25px; z-index: 999;">
            <md-fab-speed-dial md-direction="up" md-open="false" class="md-fab-bottom-right md-scale">
            <md-fab-trigger>
            <md-button aria-label="action" class="md-fab md-primary" ng-click="vm.backToWaitList()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <md-tooltip>Back</md-tooltip>
            </md-button>
            </md-fab-trigger>
            </md-fab-speed-dial>
        </div> -->
    </div>
</div>
<div ng-if="vm.screenType == 'socialMedia'" style="position: fixed;top: 63px;opacity: 0.95; background: rgb(17, 17, 17);" ng-style="vm.playlistStyle">
<div id="room-info" class="maincontent">
                    <div id="room-info-content" style="padding: 50px;overflow-y: auto;height: calc(100% - 100px);">
                        <img src="assets/images/logo.png" class="logo" style="width:162px;">
                        <p id="room-info-text" style="width: 100%;color: #b3b3b3;border-bottom: 2px solid #b3b3b3;padding-bottom: 20px;padding-top: 15px;">
                            {{vm.configuration.room_info_text}}
                        </p>
                        <div id="social-links">
                            <a href="{{vm.configuration.discord_url}}" id="discord-button"><i class="mdi mdi-24px mdi-discord"></i><span class="social-button">Discord</span></a>
                            <a href="{{vm.configuration.youtube_url}}" id="youtube-button"><i class="mdi mdi-24px mdi-youtube-play"></i><span class="social-button">YouTube</span></a>
                            <a href="{{vm.configuration.facebook_url}}" id="facebook-button"><i class="mdi mdi-24px mdi-facebook"></i><span class="social-button">Facebook</span></a>
                            <a href="{{vm.configuration.soundcloud_url}}" id="soundcloud-button"><i class="mdi mdi-24px mdi-soundcloud"></i><span class="social-button">Soundcloud</span></a>
                        </div>
                    </div>
                </div>
                </div>