<md-toolbar>
    <div id="top-bar" class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <div layout="row">
            <!-- <md-button ng-click="vm.getWaitListVideo()">
                Logo
            </md-button> -->
            <div class="logo menulinks" onclick="openMenu(event, 'room-info')">
                <img src="assets/images/logo.png" />
            </div>
            <div layout="column" class="current-song">
                <div class="disc"><img src="assets/images/disc.png" alt="Logo" /></div>
                <!--  <span class="md-body-2">{{vm.videoTitle}}</span>
                <span class="md-body-2" ng-if="vm.playingBy">Playing by:{{vm.playingBy}}</span> -->
                <div class="song-info">
                    <div id="currentSong">{{vm.videoTitle}}</div>
                    <div class="current-dj" ng-if="vm.playingBy">Current DJ:
                        <font id="currentDj">{{vm.playingBy}}</font>
                    </div>
                </div>
            </div>
        </div>
       <!--  <div>
            <md-menu>
                <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu()">
                    <md-icon md-font-icon="fa fa-cog"></md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-click="vm.getWaitListVideo()" class="md-primary">
                            <md-icon md-font-icon="fa fa-youtube-play"></md-icon>
                            Wait List
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.openRightMenu()" class="md-primary">
                            <md-icon md-font-icon="fa fa-history"></md-icon>
                            History
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.showUserProfile()" class="md-primary">
                            <md-icon md-font-icon="fa fa-users"></md-icon>
                            Profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="vm.userInfo.user_role == 2">
                        <md-button ng-click="vm.showUserList()" class="md-primary">
                            <md-icon md-font-icon="fa fa-user"></md-icon>
                            Users
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.logout()" class="md-primary">
                            <md-icon md-font-icon="fa fa-sign-out"></md-icon>
                            Log out
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div> -->
    </div>
</md-toolbar>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-content>
        <md-list flex>
            <md-subheader class="md-no-sticky">History</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in vm.playListHistory.data">
                <img ng-src="{{item.videoplaylists_id.thumbnail}}?{{$index}}" class="md-avatar" alt="{{item.title}}" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.videoplaylists_id.title }}</h3>
                    <h4>{{ item.videoplaylists_id.created_at }}
                            <md-button class="md-icon-button md-warn" aria-label="remove waitList"
                            ng-show="item.videoplaylists_id.user_id == vm.userId" ng-click="vm.removeFromWaitList(item._id,tem.videoplaylists_id._id)">
                             <md-tooltip md-direction="bottom">Remove waitlist</md-tooltip>
                                <i class="fa fa-trash" aria-hidden="true"></i>  
                            </md-button>
                            </h4>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
<div id="top-bar">
    <div class="logo menulinks" onclick="openMenu(event, 'room-info')">
        <img src="assets/images/logo.png" />
    </div>
    <div class="current-song">
        <div class="disc"><img src="assets/images/disc.png" alt="Logo" /></div>
        <div class="song-info">
            <div id="currentSong">FRENSHIP - Capsize (Ashton Love Remix)</div>
            <div class="current-dj">Current DJ:
                <font id="currentDj">RubyChan</font>
            </div>
        </div>
    </div>
    <div class="history-button menulinks" ng-click="vm.openHistory()">
        history
        <i class="mdi mdi-history" style="font-size: 30px;"></i>
    </div>
    <div class="skip-button" onclick="confirmSkip()">
        <i class="mdi mdi-skip-next" style="font-size: 30px;"></i>
    </div>
    <div id="timeProgress">
        03:13
    </div>
</div>