<div layout="row" flex  layout-fill layout-align="center center">
    <div flex="30" flex-lg="40" flex-md="70" flex-xs="100">
        <md-card style="border: 3px solid #fff;border-radius: 10px;background: rgba(0,0,0,0.6);">
        <!-- <md-toolbar>
        <div layout="row" layout-align="center center">
            <h1 class="md-headline" translate>SIGNUP.TITLE</h1>
        </div>
        </md-toolbar>
        -->
        <div layout-padding>
            <img src="assets/images/logo.png">
        </div>
        <md-content class="md-padding" style="background: rgba(0,0,0,0.6);">
        <form name="signup" autocomplete="off">
            <md-input-container class="md-block">
            <label for="name" style="color: white" translate>SIGNUP.NAME.LABEL</label>
            <input id="name" style="border-bottom: 1px solid #fff;color: white" label="name" name="name" type="text" ng-model="vm.user.name" required/>
            <div ng-messages="signup.name.$error">
                <div ng-message when="required">
                    <span translate>SIGNUP.NAME.PLEASE_ENTER</span>
                </div>
            </div>
            </md-input-container>
            <md-input-container class="md-block">
            <label for="email" style="color: white"translate>SIGNUP.EMAIL.LABEL</label>
            <input id="email" style="border-bottom: 1px solid #fff;color: white" label="email" name="email" type="email" ng-model="vm.user.email" required/>
            <div ng-messages="signup.email.$error">
                <div ng-message when="required">
                    <span translate>SIGNUP.EMAIL.PLEASE_ENTER</span>
                </div>
                <div ng-message when="email">
                    <span translate>SIGNUP.EMAIL.PLEASE_VALID</span>
                </div>
            </div>
            </md-input-container>
            <md-input-container class="md-block">
            <label for="password" style="color: white"translate>SIGNUP.PASSWORD.LABEL</label>
            <input id="password" style="border-bottom: 1px solid #fff;color: white" label="password" name="password" type="password" ng-model="vm.user.password"  required/>
            <ng-messages for="signup.password.$error">
            <div ng-message when="required">
                <span translate>SIGNUP.PASSWORD.PLEASE_ENTER</span>
            </div>
            <!-- <div ng-message when="compareTo">
                <span translate>SIGNUP.PASSWORD.SAME_PASSWORD</span>
            </div> -->
            </ng-messages>
            </md-input-container>
            <md-input-container class="md-block">
            <label for="password" style="color: white" translate>SIGNUP.PASSWORD_CONFIRM.LABEL</label>
            <input id="confirm" style="border-bottom: 1px solid #fff;color: white" label="confirm" name="confirm" type="password" ng-model="vm.user.confirm" compare-to="vm.user.password" required/>
            <ng-messages for="signup.confirm.$error">
            <div ng-message when="required">
                <span translate>SIGNUP.PASSWORD.PLEASE_ENTER</span>
            </div>
            <div ng-message when="compareTo">
                <span translate>SIGNUP.PASSWORD.SAME_PASSWORD</span>
            </div>
            </ng-messages>
            </md-input-container>
            <md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" style="background: #000; color: #d7294f" ng-click="vm.signupClick()" ng-disabled="signup.$invalid" translate="SIGNUP.BUTTON" aria-label="{{'SIGNUP.BUTTON' | translate}}  "></md-button>
            <md-button  class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" style="background: #000; color: #d7294f" href="#/login" translate="SIGNUP.HAVE_LOGIN" aria-label="{{'SIGNUP.HAVE_LOGIN' | translate}}"></md-button>
        </form>
        </md-content>
        </md-card>
    </div>
</div>